*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: white   ;
  align-items: center;
  justify-content: center;
}
ul>li{
  list-style: none;
}
a{
  text-decoration: none;
}

img{
  width: 100px;
}
#navbar2{
  background: rgb(31, 95, 31);
  padding: 1rem;
}
#navbar2 ul{
  padding-left: 200px;
  padding-right: 200px;
}
#navbar2 ul li {
  display: inline;
  justify-content: space-between;   
  margin: 1rem;
  align-items: center;
  padding: 5px;
  & a{
      margin-left: 4%;
      margin-right: 4%;
      font-size: 2rem; 
      text-decoration: none;
      align-items: center;
      text-align: center;
      background: #b5aeae;
      padding-left: 3%;
      padding-right: 3%;
      border-radius: 10px;
  }
  & a:hover {
      color: black;
      background-color:#b5aeae;
      opacity: 0.8;

  }
}


#navbar1 ul li {
  height: 20%;
  display: inline;
  justify-content: space-between;
  padding: 5%;
  & a{
      font-size: 200%; 
      text-decoration: none;
  }
  & .Search{
      width: 20%;
      height: 30px;
      margin-bottom: 2%;
  }
  & .billiardImg{
      width: 15%;
      padding-top: 10px;
  }
}
.h2{
font-family: 'Times New Roman', Times, serif;
font-size:xx-large;
padding: 40px;
}
.p{
font-family: 'Times New Roman', Times, serif;
font-size: x-large;
padding: 40px;
margin-top: -70px;  
}
.p2{
font-family: 'Times New Roman', Times, serif;
font-size: x-large;
padding: 40px;
margin-top: -70px;  
color:rgb(8, 85, 8);
font-style: bold;
}
.sort{
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
width: 150px;
}
.grid-container1{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 1%;
}
.shine-container, .news-container{
  display: inline-block;
}
.shine-container ul, .news-container ul{
  margin: 2rem;
  padding: 0;
  list-style: none;
}
li{
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
}
.shine{
  width: 12rem; 
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px; 

}
.news{
display: inline-block;
/* margin-left: 200px; */
/* object-fit: contain; */
height: 12rem;
width: 22rem;
/* margin-bottom: 20px; */
margin: 2rem 5rem;
}
.lastnews{
display: inline-block;
margin-left: 250px;
height: 600px;
width: 500px;
}
.container > div {
  display: inline-block;
  margin-right: 20px; 
}

footer {
  background: rgb(20, 79, 20);
  display: flex;
  justify-content: center;
  height: 200px; 
}
ul.icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  align-items: center;
  margin-top: 70px;
}       
ul.icons li {
  margin: 0;
  padding: 0;
  margin-right: 300px;
  margin-left: 150px; 

}
ul.icons li img {
  max-width: 80px;
}  

.mapImg{
  display: inline-block;
  width: 100%; 
  height: 300px; 
  margin: 90;
  transform: scaleX(1);
}
.new-news{
  display: block;
}