
Ахтоты Баатаржав
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    background: white   ;
    align-items: center;
    justify-content: center;
  }
  ul>li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  
  img{
    width: 100px;
  }
  #navbar2{
    background: rgb(31, 95, 31);
    padding: 1rem;
  }
  #navbar2 ul{
    padding-left: 200px;
    padding-right: 200px;
  }
  #navbar2 ul li {
    display: inline;
    justify-content: space-between;   
    margin: 1rem;
    align-items: center;
    padding: 5px;
    & a{
        margin-left: 4%;
        margin-right: 4%;
        font-size: 2rem; 
        text-decoration: none;
        align-items: center;
        text-align: center;
        background: #b5aeae;
        padding-left: 3%;
        padding-right: 3%;
        /* border: 2px solid; */
        border-radius: 10px;
    }
    & a:hover {
        color: black;
        background-color:#b5aeae;
        opacity: 0.8;
  
    }
  }
  
  
  #navbar1 ul li {
    height: 20%;
    display: inline;
    justify-content: space-between;
    padding: 5%;
    & a{
        font-size: 200%; 
        text-decoration: none;
    }
    & .Search{
        width: 20%;
        height: 30px;
        margin-bottom: 2%;
    }
    & .billiardImg{
        width: 15%;
        padding-top: 10px;
    }
   
  }
  .grid-container{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 1%;
  }
  .grid-container-fifthy{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 2rem;
    & img{
        justify-content: center;
        width: 30rem;   
    }
  
  }


  .con{
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
  }

.background {
  background-image: url('../img/temtseen-bg.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
  width:100%;
  height: 90vh; 
}
.container-row {
  display: flex;
  justify-content: space-between;
}
  .container {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 50rem;
    margin: auto;
    border: 1px solid black;
    /* padding: 1rem; */
    text-align: center;
    background-color: rgba(221, 218, 218 , 0.8);
    /* margin-left: 160px; */
    top: 6rem;
    border-bottom: 1px dotted #000;

  }

.container .p1 {
    font-family: 'Mulish', 'sana serif';
    font-size: 2rem; 
    color: rgb(4, 97, 4);
  
}
.date{
  display: grid;
  gap: 2rem;
}
.burtgel{
  & li {
    height: 10rem;
  }
}

.h {
  font-family: 'Mulish', 'sana serif';
  font-size: 25px;
  margin-top:10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #000;
  width: 100%;
  height: 10rem;
}

.link {
  display: inline; 
  margin-left: 10px;
}

.date {
  width: 100px; 
  height: 100px; 
  background-size: cover;
  position: center;
  padding-top: 3rem;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px; 

}

li {
  margin: 10px 0;
  /*border-bottom: 1px dotted #000; */

}
.button {
    background-color: rgb(10, 116, 10);
    font-size: 1.4rem;
    width: 12rem; 
    height: 3rem; 
    padding: 0.7rem 1.4rem; 
    color: white; 
    margin: 0;

}
.path {
  width: 40px;
  height: 40px;
  background-color: rgb(3, 107, 3);
  position: absolute;
  animation: move 10s linear infinite;
  border-radius: 50%; 
}

.rect-path-1 {
  offset-path: circle(30% at center);
}

.rect-path-2 {
  offset-path: circle(30% at center); 
}

.rect-path-3 {
  offset-path: circle(30% at center); 
}

@keyframes move {
  0% {
      offset-distance: 0%;
  }
  100% {
      offset-distance: 100%;
  }
}

  footer {
    background:rgb(31, 95, 31);
    display: flex;
    justify-content: center;
    height: 200px; 
  }
  ul.icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
    margin-top: 70px;
  }       
  ul.icons li {
    margin: 0;
    padding: 0;
    margin-right: 300px;
    margin-left: 150px; 
  
  }
  ul.icons li img {
    max-width: 80px;
  }  
  
  .mapImg{
    display: inline-block;
    width: 100%; 
    height: 10%; 
    margin: 0px;
    transform: scaleX(1);
  }

.udirdamj , .burtgel {
  display: block;
}
.burtgel{
  & li{
    padding-top: 2rem;
    padding: auto;
  }
}
.date{
  margin-left: 40%;
}
.subtitle{
  font-size: 1.2rem;
  padding: 1.1rem;
}
@media (max-width:1680px){
  .h{
    padding-top: 1rem;
  }
  .burtgel{
    & li{
      padding-top: 6rem;
    }
  }
}
@media (max-width:1400px){
  .h{
    padding-left: 40%;
  }
  .burtgel{
    & .button{
      align-items: center;
      margin-left: -3rem;
    }
  }
}
@media (max-width:1000px){
  .h{
    align-items: center;
    padding-left: 30%;
  }  
  .burtgel{
    & .button{
      align-items: center;
      margin-left: 0rem;
      padding-left: 20%;
    }
  }
}
@media (max-width:750px){
  .date{
    margin-left: 10%;
  }
  .h{
    align-items: center;
    padding-left: 0%;
  }  
  .burtgel{
    & li{
      width: 5rem;
    }
    & .button{
      align-items: center;
      margin-left: -2rem;
      padding-left: 10%;
      width: 10rem;
    }
  }
}
@media (max-width:530px){
    .burtgel{
      & li {
        & .button{
          font-size: 1rem;
          margin-left: -1rem;
        }
      }
    }

}