*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: white   ;
    align-items: center;
    justify-content: center;
    /* overflow:hidden; */
    /* display: flex; */
}
ul>li{
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    width: 100px;
}
#navbar2{
    background: rgb(20, 79, 20);
    padding: 1rem;
}
#navbar2 ul{
    padding-left: 200px;
    padding-right: 200px;
}
#navbar2 ul li {
    display: inline;
    justify-content: space-between;   
    margin: 1rem;
    align-items: center;
    padding: 5px;
    & a{
        margin-left: 4%;
        margin-right: 4%;
        font-size: 2rem; 
        text-decoration: none;
        align-items: center;
        text-align: center;
        background: #b5aeae;
        padding-left: 3%;
        padding-right: 3%;
        border-radius: 10px;
        margin-bottom: 50px;
    }
    & a:hover {
        color: black;
        background-color:#b5aeae;
        opacity: 0.8;

    }
}
.mapImg{
    display: inline-block;
    width: 100%; 
    height: 900px; 
    margin: 0px;
    transform: scaleX(1);
    padding: 10px;
  }
  ul{
    margin: 40px;
    padding: 0;
    list-style: none;
  }
  li{
    display: inline-block;
    margin-left: 300px;
    vertical-align: top;
  }
  .shine{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
}
footer {
    background: rgb(20, 79, 20);
    display: flex;
    justify-content: center;
    height: 200px; 
}
ul.icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
    margin-top: 70px;
}       
ul.icons li {
    margin: 0;
    padding: 0;
    margin-right: 300px;
    margin-left: 150px; 
  
  }
ul.icons li img {
    max-width: 80px;
}  
    
  
     
    
  