body{
    background-color: white;
    width: 98%;
    margin: 0rem;
    & main{
        & p{
            font-size: 2rem;
            margin-left: 5%;
        }
        & section{
            display: flex;
            width: 100%;
            & article{
                margin-left: 10%;
                width: 35%;
                text-align: center;
                & img{
                    width: 100%;
                }
                & ul{
                    list-style: none;
                   
                    & a{
                        text-decoration: none;
                        float: left;
                        margin-top: 1rem;
                        font-size: 1rem;
                        margin-right: 4rem;
                    }
                    & input{
                        width: 100%;
                        margin: 0.5rem;
                        height: 2rem;
                    }
                    & .checkbox{
                        transform: scale(0.5);
                        float: left;
                        margin-left: 4rem;
                        }
                    & .button{
                        color: white;
                        background-color: rgb(30, 70, 32);
                        font-weight: bold;
                        width: 80%;
                        margin: 0.5rem;
                        height: 3rem;
                        border-radius: 10px;
                    }
                }
                & h{
                    font-size: 2rem;
                }
            }
        }
    }
}

