:root{
    --color-white: white;
    --color-dark-0:#000;
    --color-dark-1:#222;
    --color-bg-default: rgb(7, 74, 7);
    --color-menu:var(--color-dark-1);
    --color-hover:rgb(55, 0, 255);
    --color-main:#1E4620;
    --color-text-white:white;
    --color-text-balck: black;
    --text-button:1.2rem;
    --background-white : white;
    }
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        background: var(--color-white);
        align-items: center;
        justify-content: center;
        font-family:  'Mulish', sans-serif;
    }
    .mapImg img {
        display: block;
        width: 100%;
        height: auto; /* Changed to auto for responsive height */
        margin-top: 1rem; /* Changed to a fixed margin for consistency */
    }
  

    .second-list {
        margin-right: 2rem;
    }
    
    /* Styling for the billiard image */
  

#article1{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    align-items: center;
    padding: 4rem 0rem;
    & .img-container{
        display: flex;
        justify-content: center;
        align-items: center ;
        margin: auto;
        & img {
            border-radius: 50%;
            object-fit: contain;
            width: 15rem;
            height: 15rem;
            border: solid 1px black;

        }
    }
    & .competition-details{
        background-color: #1E4620;
        padding: 1rem;
        width: 75%;
        margin: auto;
        border-radius: 3rem;
        & p , h2{
            color : var(--color-text-white)
        }
        & h2{
            margin-top: 0rem;
        }
        & article{
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            & a{
             background-color: var(--background-white);   
             padding: 1rem;
             border-radius: 1rem;
             color: black;
            }
            & a:hover {
            border: solid 1px black;
            color: var(--color-hover);
            }
        }
    }
}
#article2{
   
    .rep-image{
        width: 90%;
        padding: 1rem, 5%;
        margin: 1rem 5%;
    }
   
    /* position: relative; */
    & div{
        height: 100%;
        background-image: url(../img/background1.png);
        background-repeat: no-repeat;
        & h2 {
            color:white
            
        }
        & button{
            /* position: absolute; */
            bottom : 2rem;
            margin-left: 70%;
        }
        & .table{
        background-color: white;
          display: grid;    
          height: 60%;
          padding-top: 50rem;
          margin-top: 5rem;
          grid-template-columns: auto auto auto;
            gap : 0.5rem;
            padding: 5rem;
            /* position: absolute; */
            /* bottom: 50%;
            left: 45%; */
            & img {
                padding: 0px;
                margin: 0px;
            }

        }
        /* & img{
            position: absolute;
            bottom: 50%;
            left: 45%;
        } */
    }

    
}

#section2 , #section3 , #section4 {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    & .top-club{
        & div{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 5%;
            & a{
                text-align: center;
                border: solid 1px rgb(197, 197, 197);
                color: black;
                & img {
                /* object-fit: contain; */
                width: 12rem;
                height: 12rem;
                margin: 0.5rem;

            }

            }
            & a:hover{
            color : var(--color-hover);
            border: solid 1px rgb(131, 129, 129);
            }
        
            
        }
    }
    & .onch-ugs{
        position: relative;
        padding-left: 4rem;
        & button{
            position: absolute;
            bottom: 40%;
            left: 55%;
            width: 10rem;
            height: 2rem;
            font-size: var(--text-button);
            text-align: center;
        }
        & p {
            position: absolute;
            top: 30%;
            width: 60%;
            font-size: 1.2rem;
            left: 30%;
            color: white;
        }
        & img{
            width: 90%;
            padding: 2rem 5%;
            margin: 2rem 5%;
        }
    }   
}
#section3 {
    & img{
        text-align: center;
    }
}
#section4 {
    & p{
        color: black;
        font-size: 1.3rem;
        margin:0rem 1rem;
        text-align: left;
    }
    & .p{
        color: rgb(107, 105, 105);
        font-size: 1rem;
    }
    & p:hover{
        color: var(--color-hover);
    }
    padding-bottom: 1rem;
    margin-bottom: 2%;
}

.mapImg {
    width:100%;  
    height: auto;
    & img {
        width: 100% !important;
    }
}
/* Existing CSS styles */
/* ... */

/* Media query for screens that are 768px wide or less */
@media (max-width: 1050px) {
     #navbar2 a {
        display: none;
    }
    .grid-container{
        display: block;
    }
    #section2, #section3, #section4{
        display: block;
    }
}
@media(max-width:600px ){
    #article1{
        display: block;
        padding: 4rem;
        & div{
            gap: 10rem;
        }
        
    }
}
@media(max-width:510px){
    .competition-details .button {
        display: block;
    }
}
.subtitle{
    text-align: left;
    padding-left: 4rem;
    padding-top: 2rem;
    & h2{
        color: var(--color-dark-0);
        font-size: 2rem;
    }
    & p{
        font-size: 1rem;
    }
}