:root {
    --color-white: white;
    --color-dark-0: #000;
    --color-dark-1: #222;
    --color-bg-default: rgb(7, 74, 7);
    --color-menu: var(--color-dark-1);
    --color-hover: rgb(55, 0, 255);
    --color-main: #1E4620;
    --color-text-white: white;
    --color-text-balck: black;
    --text-button: 1.2rem;
    --background-white: white;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--color-white);
    align-items: center;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100px;
}

#toggle {
   /* Linear Gradient Background */
/* Linear Gradient Background with Multiple Green Colors */
background: linear-gradient(40deg,  #0b5622, #57e765, #2e6c36, #0f5c0f);


}

#toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    .active {
        border: 0.2rem solid white;


        background: linear-gradient(30deg,  #5e5fc4, #1741ab, #8129c0, #4e91ef);
        color: white; 

    }

    /* height: 5rem; */
    & a {
        font-size: 1.5rem;
        text-decoration: none;
        align-items: center;
        text-align: center;
        background: linear-gradient(30deg,  #5e5fc4, #1741ab, #8129c0, #4e91ef);
        color: white;
        padding-left: 5%;
        padding-right: 5%; 
        /* padding-top: 5% */
        margin: 2px;
        /* border: 2px solid; */
        border-radius: 10px;
        border: 0.15rem solid white;
    }

    & a:hover {
        color: white;
        background: #b5aeae;
        border: 1px solid white;
        opacity: 0.8;

    }
}


/* .grid-container{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 1%;
} */
/* .grid-container-fifthy{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 2rem;
    & img{
        justify-content: center;
        width: 30rem;   
    }
    
} */
/* Footer styles */
/* Footer styles */
/* Footer styles */
/* footer {
    background-color:rgb(50, 143, 50);
    color: var(--color-menu);
    padding-bottom: 2rem;
    & .footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    & .about h2, .contact h3 {
        font-size: 18px;
        color: white;
        text-decoration: none;
    }
    & .about p {
        font-size: 14px;
    }
    & .about{
        padding: 4rem;
    }
    & .contact{
        padding: 4rem;
    }
    & .contact ul, .contact li {
        list-style: none;
        padding: 0;
    }
    & .contact ul li {
        margin-bottom: 10px;
    }
    
    & .contact a {
        color: #fff;
        text-decoration: none;
    }
} */
footer {

    /* background: var(--color-bg-default); */
    background: linear-gradient(40deg,  #0b5622, #57e765, #0f5c0f); 
    display: flex;
    justify-content: center;
    height: 20vh;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 1rem;

    & li {
        /* padding: 0 10rem; */
        margin: auto;
    }
}

/* ul .icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: s;
    align-items: center;
    margin-top: 70px;
}       
ul.icons li {
    margin: 0;
    padding: 0;
    /* margin-right: 300px;  */
/* margin-left: 150px;  */
/* margin-right: 30%; */

/* }
ul.icons li img {
    width:30vw ;
}   */
*/ .mapImg {
    display: inline-block;
    width: 100%;
    height: 300px;
    margin: 90;
    transform: scaleX(1);
}

.nav-flex {
    display: flex;
    align-items: center;
}

#navbar1 {
    & ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 5rem;

        & li {
            padding: 0px;

            & div a {
                margin: 0px 1rem;
            }

            & input::placeholder {
                font-size: 1.5rem;
                padding-left: 0.5rem;
            }

            & .Search {
                width: 80%;
                height: 3.5rem;
                margin-bottom: 0;
                border-radius: 1rem;
                font-size: 1.5rem;
                padding-left: 0.5rem;

            }

        }

    }
}

#toggle ul {
    margin: 0rem;
    padding: 0rem;
}

.second-list {
    width: 100%;
    margin-right: 2rem;
}

.billiardImg {
    width: 15rem !important;
}

#article1 {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    align-items: center;
    padding: 4rem 0rem;

    & .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15rem;

        & img {
            border-radius: 50%;
            object-fit: contain;
            width: 15rem;
            height: 15rem;
            border: solid 1px black;

        }
    }

    & .competition-details {
        background: linear-gradient(40deg,  #0b5622, #57e765, #0f5c0f); 
        padding: 2rem;
        width: 75%;
        margin: auto;
        border-radius: 3rem;

        & p,
        h2 {
            color: var(--color-text-white)
        }

        & h2 {
            margin-top: 0rem;
        }

        & article {
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;

            & a {
                background-color: var(--background-white);
                padding: 1rem;
                border-radius: 1rem;
                color: black;
            }

            & a:hover {
                border: solid 1px black;
                color: var(--color-hover);
            }
        }
    }
}
/* Center the .table-cont div */
.table-cont {
     display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding-top: 100px; 
  
}

/* Style the h2 element */
.table-cont h2 {
   
    font-size: 35px;
    width: 300px;
    height: 80px;
    text-align: center; /* Center the text horizontally */
    line-height: 80px; /* Center the text vertically */
}

#article2 {


    position: relative;
    max-width: 100%;
    & button{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    & div {
        background-image:linear-gradient( 45deg, rgb(18, 150, 18) , rgb(88, 201, 133) );
        border-radius: 0.5rem;
        /* background-repeat: no-repeat; */
        height: 100%;
        width: 100%;

        & h2 {
            color: white
        }

        /* & button {
            position: absolute;
            bottom: 2rem;
            margin-left: 70%;
        } */

        & .table {
            background-color: white;
            display: grid;
            height: 60%;
            padding-top: 50rem;
            margin-top: 5rem;
            grid-template-columns: auto auto auto;
            gap: 0.5rem;
            padding: 5rem;

            /* position: absolute; */
            /* bottom: 50%;
            left: 45%; */
            & img {
                padding: 0px;
                margin: 0px;
            }

        }

        /* & img{
            position: absolute;
            bottom: 50%;
            left: 45%;
        } */
    }


}

#section2,
#section3,
#section4 {
    margin-top: 8rem;
    margin-left: -8rem;
    display: flex;
    justify-content: space-around;
    text-align: left;

    & .top-club {
        padding-left: 5rem;

        & div {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 7rem;

            & a {
                text-align: center;
                border: solid 1px rgb(197, 197, 197);
                color: black;

                & img {
                    /* object-fit: contain; */
                    width: 12rem;
                    height: 12rem;
                    margin: 0.5rem;

                }

            }

            & a:hover {
                color: var(--color-hover);
                border: solid 1px rgb(131, 129, 129);
            }


        }
    }

    & .onch-ugs {
        width: 30%;
        height: 30%;
        position: relative;
        padding-left: 0rem;

        & button {
            position: absolute;
            bottom: 40%;
            left: 55%;
            width: 10rem;
            height: 2rem;
            font-size: var(--text-button);
            text-align: center;
        }

        & p {
            position: absolute;
            top: 30%;
            width: 60%;
            font-size: 1.2rem;
            left: 30%;
            color: white;
        }

        & img {
            width: 40rem;
            position: relative;
            text-align: center;
            align-items: center;
            border-radius: 1rem;
        }
    }
}

#section4 {
    & p {
        color: black;
        font-size: 1.3rem;
        margin: 0rem 1rem;
        text-align: left;
    }

    & .p {
        color: rgb(107, 105, 105);
        font-size: 1rem;
    }

    & p:hover {
        color: var(--color-hover);
    }

    padding-bottom: 1rem;
}

.mapImg {
    width: 100%;
    height: auto;

    & img {
        width: 100% !important;
    }
}

.login {
    color: var(--color-main);
    font-size: 2rem;
}

.humanicon {
    width: 50%;
}

.hitter {
    width: 10rem;
    border-radius: 10px;
}

#section-1 {
    border: 1px solid black;
    padding: 0 2rem;

    & h2 {
        font-size: 2rem;
        color: var(--color-main);
        padding-left: 5rem;
        padding-top: 2rem;
    }

    & ul {
        font-size: 1.5rem;
        display: block;
    }

    & iframe {
        justify-content: center;
        margin-left: 15%;
        width: 50vw;
    }
}

#hamburger {
    display: none;
}

@media (max-width:1750px) {


    .onch-ugs {
        width: 20%;
        height: 20%;
        align-items: center;
        /* margin-left: 30%; */
        margin-top: 4rem;
        margin: 4rem auto;

        & p {
            padding-left: 3rem;
        }

    }

    #section2,
    #section3,
    #section4 {
        display: block;

        & .top-club {
            padding-left: 10rem;
        }
    }

    .grid-container {
        display: block;
    }
}

@media (max-width:1000px) {
    .place {
        margin-bottom: 5rem;

        & ul {
            display: block;
            grid-template-columns: auto auto;
            gap: 0rem;
        }
    }

    #section2,
    #section3,
    #section4 {
        & .top-club {
            padding-left: 10rem;

            & div {
                display: grid;
                grid-template-columns: auto auto;
                gap: 2rem;
            }
        }

    }

    .onch-ugs {
      
        margin-left: 20%;

        & p {
            padding-left: 5rem;
        }

        & button {
            margin-bottom: -10rem;
        }
       
    }

    #navbar1 {
        & .login {
            display: none;
        }
    }

    #article1 {
        display: block;
    }

    .img-container {
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;
        margin-left: -45%;
    }


    #toggle {
        & .active {
            position: relative;
            right: 30%;
            width: 40%;
            margin-left: 100px;
        }

        & .hide {
            display: none;
        }

        #hamburger {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10%;
        }

        .active1 {
            display: flex !important;
        }


    }
}

.active1 {
    display: flex !important;
}

.place {
    margin-bottom: 5rem;

    & ul {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 3rem;

        & li {
            padding: 1rem;
            border: 1px solid black;
            border-radius: 1rem;
            text-align: left;
            font-size: var(--text-button);

            & .shine {
                padding-left: 1rem;
                height: 10rem;
                width: 10rem;
            }

            /* & img {
                align-items: center;
                padding-left: 10%;
                width: 20rem;
            } */
        }

        & li:hover {
            background: rgba(176, 176, 176, 0.4);
            color: rgb(120, 27, 163);

        }
    }
}

.icons {
    display: flex;
    justify-content: space-around;
}

/* club */
.sort {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    width: 10rem;
}

.h2 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding: 40px;
    & .p-dark{
        opacity: 0.8;
        
    }
}

.p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    padding: 40px;
    margin-top: -70px;
}

.p2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    padding: 40px;
    margin-top: -70px;
    color: rgb(8, 85, 8);
    font-style: bold;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0;
}

.shine-container ul {
    display: block;
    padding-left: 0;

    & li {
        & ul {
            display: grid;
            grid-template-columns: auto auto auto auto;
            & img{
                object-fit: contain;
                width: 10rem;
                height: 10rem;
            }

        }
    }
}
@media (max-width:1050px){
    .new-news{
        & .news {
            width: 10rem;
            height: 1rem;
        }
    }
    .shine-container ul {
        padding-bottom: 1rem;
        & li {
            & ul {
                display: grid;
                grid-template-columns: auto auto  ;
                gap: 1rem;
                margin-right: 10rem;
                & img{
                    object-fit: contain;
                    width: 5rem;
                    height: 5rem;
                }
              
            }
        }
    }
}

.shine{
    background: black;
}

.new-news,
.shine {
    display: block;

    & .news {
        width: 20rem;
        height: 10rem;
    }
}

.icons1 ul {
    display: flex;
    

    & li {
        margin: auto;
        margin: 0 7.5rem;
        padding: 2rem 5rem;
        & img{
            border-radius: 1.3rem;
        }

    }
}

@media (max-width:1750px) {
    .icons1 ul {
        & li {
            margin: auto;
            margin: 0 3.5rem;
            padding: 2rem 3.5rem;

        }
    }
}

@media (max-width:1200px) {
    .icons1 ul {
        & li {
            margin: auto;
            margin: 0 1.5rem;
            padding: 2rem 1.5rem;

        }
    }
}

@media (max-width:750px) {
    .icons1 ul {
        & li {
            margin: auto;
            margin: 0 0.5rem;
            padding: 2rem 0.5rem;

        }
    }
}

@media (max-width:563px) {
    .icon1 ul {
        & li {
            margin: 0 !important;
            padding: 0rem;
        }
    }

    .competition-details {
        & article {
            display: block;
        }
    }

    #navbar1 {
        & ul {
            & li {
                & .Search {
                    display: none;
                }
            }
        }
    }

    #section2,
    #section3,
    #section4 {
        & .top-club {
            padding-left: 10rem;

            & div {
                display: grid;
                grid-template-columns: auto;
                gap: 2rem;
            }
        }

    }

    .onch-ugs {
        & img {
            width: 10vw;
        }


    }
}

@media (max-width:1000px) {
    .place {
        & ul {
            display: grid;
            grid-template-columns: auto auto;
        }
    }
}

@media (max-width:600px) {
    .place {
        & ul {
            display: grid;
            grid-template-columns: auto;
        }
    }
}
@media (max-width:1050px){
    .new-news{
        margin-left: -5rem;
        & .news {
            width: 10rem;
            height: 10rem;
        }
    }
}
@media (max-width:450px){
    .grid-container1{
        display: block;
    
    }
    .shine-container ul {
        padding-bottom: 1rem;
        & li {
            & ul {
                display: grid;
                grid-template-columns: auto auto  ;
                gap: 1rem;
                margin-right: 0rem;
            }
        }
    }
    .new-news{
        margin-left: 30%;
    }
}
.rule{
    & ul{
        display: grid;
        grid-template-columns: auto auto auto;
        & li{
            /* width: 30%; */
            margin: 2rem;

        }
    }
}
.rule-1{
    display: flex;
    justify-content: space-around;
}