* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: white;
  align-items: center;
  justify-content: center;
}

ul>li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100px;
}

#navbar2 {
  background: rgb(31, 95, 31);
  padding: 1rem;
}

#navbar2 ul {
  padding-left: 200px;
  padding-right: 200px;
}

#navbar2 ul li {
  display: inline;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
  padding: 5px;
}

#navbar2 ul li a {
  margin-left: 4%;
  margin-right: 4%;
  font-size: 2rem;
  text-decoration: none;
  align-items: center;
  text-align: center;
  background: #b5aeae;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
  display: inline-block;
}

#navbar2 ul li a:hover {
  color: black;
  background-color: #b5aeae;
  opacity: 0.8;
}

#navbar1 ul li {
  height: 20%;
  display: inline;
  justify-content: space-between;
  padding: 5%;
}

#navbar1 ul li a {
  font-size: 200%;
  text-decoration: none;
}

#navbar1 ul li .Search {
  width: 20%;
  height: 30px;
  margin-bottom: 2%;
}

#navbar1 ul li .billiardImg {
  width: 15%;
  padding-top: 10px;
}

.section {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.overlay {
  height: 90%;
  width: 30rem;
  position: fixed;
  z-index: 2;
  top: 25rem;
  left: 0;
  background-color: rgb(3, 61, 3);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}


.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  max-height: 90%;
  overflow-y: auto;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #818181;
}

.overlay .close-btn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  cursor: pointer;
  color: #818181;
}

.open-btn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  color: #818181;
}

.open-btn:hover {
  color: #818181;
}



.h2 {
  font-family: 'Mulish', sans-serif;
  font-size: xx-large;
  padding: 40px;
}

.p {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  padding: 40px;
  margin-top: -70px;
}

.p2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  padding: 40px;
  margin-top: -70px;
  color: rgb(8, 85, 8);
  font-style: bold;
}

#section2 {
  & p {
    color: black;
    font-size: 1.3rem;
    margin: 0.5rem;
  }

  & .p {
    font-size: 1rem;
  }

  & p:hover {
    color: var(--color-hover);
  }
}
/* 
.grid-container {
  justify-content: space-between;
  align-items: flex-start;
  padding: 1%;
}

.shine-container {
  display: inline-block;
}

.shine-container ul {
  list-style: none;
  margin-left: 6rem;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

li {
  display: inline-block;
  vertical-align: top;
}

.shine {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.container>div {
  display: inline-block;
} */

footer {
  background: rgb(20, 79, 20);
  display: flex;
  justify-content: center;
  height: 200px;
}

ul.icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 70px;
}

ul.icons li {
  margin: 0;
  padding: 0;
  margin-right: 10rem;
  margin-left: 20rem;
}

ul.icons li img {
  max-width: 80px;
}

.mapImg {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin: 90;
  transform: scaleX(1);
}
#tools-container{
  display: flex;
  margin-bottom: 1rem;
  & article {
    border: 1px solid black;
    width: 100%;
    & a{
      text-decoration: none;
    }
    
  }
}