body{
    width: 1440px; 
    height: 1024px; 
    position: relative; 
    background: white
}
header>h1{
    left: 651px;
    top: 236px;
    position: absolute; 
    color: #1E4620; 
    font-size: 35px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
}
.label-1{
    width: 450px;
    height: 60px; 
    left: 493px; 
    top: 303px; 
    position: absolute
}
.label-2{
    width: 450px; height: 60px; left: 493px; top: 388px; position: absolute;
}
.label-3{
    width: 450px; height: 60px; left: 493px; top: 473px; position: absolute
}
.label-4{
    width: 450px; height: 60px; left: 493px; top: 558px; position: absolute
}
.label-5{
    width: 450px;
    height: 60px; left: 493px; top: 643px; position: absolute;   
}