<!DOCTYPE html>
<html lang="en">
<!-- <head>
        <link rel="stylesheet" href="addtocart.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    </head> -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/tools.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Billiard</title>
  <link rel="stylesheet" href="addtocart.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>



</head>

<!-- ... Other HTML code ... -->
<body>
  <div class="header">
    <p class="logo">LOGO</p>
    <div class="cart"><i class="fa-solid fa-cart-shopping"></i>
      <p id="count">0</p>
    </div>
  </div>
  <div class="container">
    <mysidebar-component></mysidebar-component>
    <tools-container-component></tools-container-component>
    <div id="billiard-container"></div>
    <sidebar-component></sidebar-component>
    <render-tool-element-component></render-tool-element-component>
  </div>
  <!-- ... Other script tags ... -->
<script type="module" src="mysidebar-component.js"></script>
  <script type="module" src="tools-container-component.js"></script>
  <script type="module" src="sidebar-component.js"></script>
  <!-- <script type="module" src="tool.js"></script> -->
</body>
<!-- ... Other HTML code ... -->


</html>